@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    color: #222;
}

ul, li {
    list-style: none;
}

.btn {
    padding: .25rem .5rem;
    display: inline-block;
    outline: none;
    border: 1px solid #fff;
    background: #fff;
    color: #222;
    cursor: pointer;
    margin: .25rem;
}